.page {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.content {
    flex: 1;
}

.content > header {
    padding: var(--spacing-09);
}

.content > section {
    padding: var(--spacing-09);
}

.content > section > header {
    margin-bottom: var(--spacing-07);
}

.content > section > header > h2 {
    margin-bottom: var(--spacing-04);
}

.content > section > header > p {
    line-height: 1.75em;
}

.content > section > ul {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-template-rows: 1fr;
    grid-column-gap: var(--spacing-07);
    grid-row-gap: var(--spacing-07);
}
