:root {
    --palette-primary: #4fa6aa;
    --palette-secondary: #ef8784;
    --palette-tertiary: #3d5b79;
    --palette-greyA: #ffffff;
    --palette-greyB: #f2f2f2;
    --palette-greyC: #e2e2e2;
    --palette-greyX: #444444;
    --palette-greyY: #343434;
    --palette-greyZ: #242424;
}
