:root {
    /* Spacing */
    --spacing-01: 0.25rem;
    --spacing-02: 0.5rem;
    --spacing-03: 0.75rem;
    --spacing-04: 1rem;
    --spacing-05: 1.25rem;
    --spacing-06: 1.5rem;
    --spacing-07: 2rem;
    --spacing-08: 2.5rem;
    --spacing-09: 3rem;
    --spacing-10: 4rem;
}
