.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-02) var(--spacing-04);
}

.logo {
    display: block;
    height: 4rem;
    width: auto;
}

.header ul {
    display: flex;
    flex-direction: row;
    column-gap: var(--spacing-01);
}
